@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

@layer utilities {
 @layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
}

// clientSlider css

.react-multiple-carousel__arrow{
  background-color: #00a264 !important;
  min-width: 35px !important;
  min-height: 35px !important;
}
@media (min-width: 640px) {
.sm\:flex.desktop-slider,.sm\:flex.mobile-slider{
  width: 100%;
}}
.mobile-slider{
  display: none !important;
}
@media(max-width:767px){
  .mobile-slider{
    display: block !important;
  }
  .inner-card.scale-110{
    transform: none;
    border: 0;
  }
}

.main-banner-wrap{
  position: relative;
}

.main-banner-wrap .gallery-wrap{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.8;
  background-color: gray;
  
}
 .main-banner-wrap:hover .gallery-wrap{
   opacity: 1;
   background-color: transparent !important;
   filter:grayscale(0)
 }